{{#if latestPinnedAccident}}
  {{> pinned-item type="success" item=latestPinnedAccident isAccident=true}}
{{/if}}

<h1>
  {{pageTitle}}
  {{#if isCoach}}
    {{> btn-add-resource urlAdd=urlAddAccident}}
  {{/if}}
</h1>

{{!-- Toggle accordion collapse all --}}
{{#if accidents.length}}
  <div class="mb-3 form-check d-flex justify-content-center align-items-center gap-2">
    <input class="form-check-input toggle-collapse" type="checkbox" value="" id="toggle-collapse">
    <label class="form-check-label" for="toggle-collapse">
      Alles tonen
    </label>
  </div>
{{/if}}

{{!-- Accordion --}}
<div class="accordion app-centered-sm list" id="accordion-accidents">

  {{#ifEq accidents.length 0}}
    <p class="text-center">Geen ongevallen gemeld.</p>
  {{/ifEq}}

  {{#each accidents}}
    <div class="accordion-item accident" id="accordion-{{ id }}">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed accident-date"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-{{ id }}"
                aria-expanded="false"
                aria-controls="collapse-{{ id }}">
          {{dateTime date }} te {{location}}
        </button>
      </h2>
      <div id="collapse-{{ id }}"
           data-collapse-id="collapse-{{ id }}"
           class="accordion-collapse collapse" data-bs-parent="#accordion-accidents">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            <li id="item-{{ id }}"
                class="list-group-item d-flex flex-column gap-1 
                       {{#if is_pinned }}bg-success-subtle border border-success-subtle border-start-0 border-end-0{{/if}}">
              <div class="d-flex justify-content-between flex-wrap">
                <span><strong>Datum: </strong>{{dateTime date }}</span>
                {{#if ../isCoach}}
                  <div class="d-flex gap-2">
                    <span class="material-symbols-outlined text-warning"
                          role="button"
                          hx-get="/api/accident/edit/{{id}}"
                          hx-target="#item-{{ id }}"
                          hx-swap="outerHTML swap:300ms">edit</span>
                    <span class="material-symbols-outlined text-danger"
                          role="button"
                          hx-delete="/api/accident/delete/{{id}}"
                          hx-target="#accordion-{{ id }}"
                          hx-trigger="confirmed"
                          onClick="Swal.mixin(swalBootstrapMixin).fire(swalFireOptions).then((result)=> {
                                if (result.isConfirmed) {
                                  htmx.trigger(this, 'confirmed');
                                }
                              });"
                          hx-swap="outerHTML swap:300ms">delete</span>
                  </div>
                {{/if}}
              </div>

              <span><strong>Gemeld door: </strong>{{reportedBy.firstname }} {{reportedBy.lastname}}</span>
              <span><strong>Plaats: </strong>{{ location }}</span>
              <span><strong>Aanleiding: </strong>{{ cause }}</span>
              <span><strong>Letsel: </strong>{{ injury }}</span>
              <span><strong>Gegeven verzorging: </strong>{{ care }}</span>

              {{#if is_pinned}}
                <div class="d-flex align-items-center text-success">
                  <strong>Gepind</strong>
                  <span class="material-symbols-outlined ms-2">keep</span>
                </div>
                {{ else }}
                <div class="d-flex align-items-center text-secondary">
                  <strong>Niet gepind</strong>
                  <span class="material-symbols-outlined ms-2">keep_off</span>
                </div>
              {{/if}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{!-- Add some javascript --}}
<script src="/js/pages/common.js" defer></script>