{{> linkButton url=urlBtnBack showLeftIcon=true label="Terug"}}

<h1>
  {{pageTitle}}
  {{#if isCoach}}
    {{> btn-add-resource urlAdd=urlAddEval}}
  {{/if}}
</h1>

{{!-- Toggle accordion collapse all --}}
<div class="mb-3 form-check d-flex justify-content-center align-items-center gap-2">
  <input class="form-check-input toggle-collapse" type="checkbox" value="" id="toggle-collapse">
  <label class="form-check-label" for="toggle-collapse">
    Alles tonen
  </label>
</div>

{{!-- Accordion --}}
<div class="accordion app-centered-sm" id="accordion-evals">
  {{#each evalSubjects}}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-{{ id }}"
                aria-expanded="false"
                aria-controls="collapse-{{ id }}">
          {{ name }}
        </button>
      </h2>
      <div id="collapse-{{ id }}" class="accordion-collapse collapse" data-bs-parent="#accordion-evals">
        <div class="accordion-body">
          <ul class="list-group list-group-flush">
            {{#each ../evals}}
              {{#ifEq ../id inflow_evaluation_subject_id }}
                <li id="eval-{{ id }}" class="list-group-item d-flex flex-column gap-1">
                  <div class="d-flex justify-content-between flex-wrap">
                    <span><strong>Datum: </strong>{{dateTime updated_at }}</span>
                    {{#if ../../isCoach}}
                      <div class="d-flex gap-2">
                        <span class="material-symbols-outlined text-warning"
                              role="button"
                              hx-get="/api/eval/edit/inflow/{{id}}"
                              hx-target="#eval-{{ id }}"
                              hx-swap="outerHTML swap:300ms">edit</span>
                        <span class="material-symbols-outlined text-danger"
                              role="button"
                              hx-delete="/api/eval/delete/inflow/{{id}}"
                              hx-target="#eval-{{ id }}"
                              hx-trigger="confirmed"
                              onClick="Swal.mixin(swalBootstrapMixin).fire(swalFireOptions).then((result)=> {
                                if (result.isConfirmed) {
                                  htmx.trigger(this, 'confirmed');
                                }
                              });"
                              hx-swap="outerHTML swap:300ms">delete</span>
                      </div>
                    {{/if}}
                  </div>
                  <span><strong>Coach: </strong>{{maatwerkcoach.firstname }} {{maatwerkcoach.lastname}}</span>
                  <span><strong>Inhoud: </strong>{{ content }}</span>
                  {{#if comment}}
                    <span><strong>Opmerking: </strong>{{ comment }}</span>
                  {{/if}}
                </li>
              {{/ifEq}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
</div>

{{!-- Add some javascript --}}
<script src="/js/pages/common.js" defer></script>