<form hx-put="/api/eval/update/icf/{{icfEval.id}}"
      hx-swap="outerHTML swap:300ms scroll:top"
      id="eval-form-icf-{{ icfEval.id }}"
      class="list-group-item d-flex flex-column gap-1">

  <div class="mb-2">
    <label for="maatwerkcoach_id" class="form-label form-label-sm">
      Coach <span class="text-danger">*</span>
    </label>
    <select name="maatwerkcoach_id" id="maatwerkcoach_id" class="form-select form-select-sm" required>
      <option value=""></option>
      {{#each maatwerkcoaches}}
        <option value="{{ id }}" {{#ifEq id ../icfEval.maatwerkcoach_id}}selected{{/ifEq}}>
          {{firstname }} {{lastname}}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="mb-2">
    <label for="icf_code_id" class="form-label form-label-sm">
      Typering <span class="text-danger">*</span>
    </label>
    <select name="icf_code_id" id="icf_code_id" class="form-select form-select-sm">
      <option value=""></option>
      {{#each icfCodes}}
        <option value="{{ id }}" {{#ifEq id ../icfEval.icf_code_id}}selected{{/ifEq}}>
          {{ category.name }} - {{ name }}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="mb-2">
    <label for="icf_rating_id" class="form-label form-label-sm">
      Beoordeling <span class="text-danger">*</span>
    </label>
    <select name="icf_rating_id" id="icf_rating_id" class="form-select form-select-sm">
      <option value=""></option>
      {{#each icfRatings}}
        <option value="{{ id }}" {{#ifEq id ../icfEval.icf_rating_id}}selected{{/ifEq}}>
          {{ category.name }} - {{ title }} - {{ rating }}
        </option>
      {{/each}}
    </select>
  </div>

  <div class="mb-2">
    <label for="comment" class="form-label form-label-sm">Opmerking</label>
    <textarea name="comment"
              id="comment"
              class="form-control form-control-sm"
              rows="3">{{ icfEval.comment }}</textarea>
  </div>

  <button type="submit" class="btn btn-secondary mt-3 w-100">Opslaan</button>

  <button hx-get="/api/eval/show/icf/{{icfEval.id}}"
          hx-target="#eval-form-icf-{{ icfEval.id }}"
          hx-swap="outerHTML swap:300ms"
          class="btn btn-outline-secondary mt-3 w-100">Annuleren</button>
</form>