<li id="item-{{ appointment.id }}"
    data-collapse-id="collapse-{{ appointment.type.id }}"
    {{#if hasPinnedItem}}
    data-has-pinned-item="{{ hasPinnedItem}}"
    data-pinned-item-id="{{ pinnedItemId }}"
    data-pinned-item-title="{{ pinnedItemTitle }}"
    data-pinned-item-html="{{ pinnedItemHtml }}"
    {{/if}}
    class="list-group-item d-flex flex-column gap-1 
           {{#if appointment.is_pinned }}
             bg-success-subtle border border-success-subtle border-start-0 border-end-0
           {{/if}}">

  <div class="d-flex justify-content-between flex-wrap">

    <span><strong>Datum: </strong>{{dateTime appointment.date }}</span>

    <div class="d-flex gap-2">
      <span class="material-symbols-outlined text-warning"
            role="button"
            hx-get="/api/appointment/edit/{{appointment.id}}"
            hx-target="#item-{{ appointment.id }}"
            hx-swap="outerHTML swap:300ms">edit</span>
      <span class="material-symbols-outlined text-danger"
            role="button"
            hx-delete="/api/appointment/delete/{{appointment.id}}"
            hx-target="#item-{{ appointment.id }}"
            hx-trigger="confirmed"
            onClick="Swal.mixin(swalBootstrapMixin).fire(swalFireOptions).then((result)=> {
                                if (result.isConfirmed) {
                                  htmx.trigger(this, 'confirmed');
                                }
                              });"
            hx-swap="outerHTML swap:300ms">delete</span>
    </div>
  </div>

  <span><strong>Coach: </strong>{{appointment.maatwerkcoach.firstname }} {{appointment.maatwerkcoach.lastname}}</span>
  <span><strong>Type: </strong>{{ appointment.type.name }}</span>
  <span><strong>Plaats: </strong>{{ appointment.location }}</span>

  {{#if appointment.comment}}
    <span><strong>Opmerking: </strong>{{ appointment.comment }}</span>
  {{/if}}

  {{#if appointment.is_pinned}}
    <div class="d-flex align-items-center text-success">
      <strong>Gepind</strong>
      <span class="material-symbols-outlined ms-2">keep</span>
    </div>
    {{ else }}
    <div class="d-flex align-items-center text-secondary">
      <strong>Niet gepind</strong>
      <span class="material-symbols-outlined ms-2">keep_off</span>
    </div>
  {{/if}}
</li>